<!--
  // Title: Capstone Project - Loan Calculator App
  // Author: Professor Krasso
  // Date: 16 Dec 2022
  // Modified By: Kayla McDanel
  // Description: Loan Calculator App
  // Code Attribution: Code and instruction provided by Professor Krasso's videos and assignment docs.
-->

  
  <div fxLayout="row wrap">
    <div fxFlex>
      <div><br />
        <img src="./assets/helga.webp" height="400" padding="10px"/>
      </div>
    <div>
    </div>
  
  <div fxFlex style="padding: 15px;">
    <h3>About Us</h3>
    <p>
      Helga Hufflepuff founded Hufflepuff Loan Company in 1948. Helga's family valued hard work, dedication, loyalty, and fair play.
      The Hufflepuff family was known for their patience and understanding, and Helga vowed to stay that way on their journey into the finance industry.
      It was important to Helga that people have the help they need when making a large purchase, working to get out of debt, or chasing a financial goal.
      The Hufflepuff family pet was a badger. Helga loved that badger so much, they put it in the logo. Her favorite color was yellow, representing sunshine and happiness.
      The Hufflepuff name also stands out as a prominent house in the wizardry school of Hogwarts. Only students who uphold the Hufflepuff values and ethics are accepted into the house.
      Students in this house stand out academically and often make many friends.
  
    </p>
    <h3>Services</h3>
    <p>
      The Hufflepuff Loan Company offers more than just loans. Our financial advisors can help you plan for the future while eliminating past debts. If you have a goal, let
      us help you reach it. We offer loans for homes, cars, and personal use. We also offer checking and savings account through The Hufflepuff Financial Institution, our parent company.
      The Hufflepuff Financial Institution is dedicated to helping families make the best financial decisions. This includes providing all the knowledge we have in order to help our customers
      make the best decisions for their life. We understand no needs are the same, and take pride in our ability to find solutions that suit each customers' needs.
    
  
    </p>
  </div>
  
  